<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <div class="title">Seeking asylum in Canada</div>
        <!-- <div class="chatter"></div> -->
        
        <div class="interactive-container">
          <div class="sidebar">
            <div class="next-location">
              Asylum seekers say it’s easier to get a visitor visa to the U.S. than to Canada. Here’s an example of a path an asylum seeker might take.
            </div>

            <div>
              <button class="begin">BEGIN</button>
              <button class="back">BACK</button>
              <button class="next">NEXT</button>
            </div>
          </div>

          <div class="map-container">
            <leaflet-map>
              <tile-layer layer="cartoPositron"></tile-layer>
            </leaflet-map>
          </div>
        </div>

        <div class="sources">
          Sources: <a href="https://issbc.org/welcomecentre/">Welcome Centre</a> and <a href="http://www.aci.aero/Data-Centre/Monthly-Traffic-Data/International-Passenger-Rankings/Year-to-date">Airports Council International</a>
        </div>

      </main>
    </responsive-child>

<!--     <% console.log(csv.markers) %> -->

    <script>
      window.markers = <%= JSON.stringify(csv.markers) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
