<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <div class="title">Seeking asylum in Canada</div>
        <div class="chatter">Here’s an example of a path some asylum seekers take, using the U.S. and Washington state as a steppingstone to Canada.</div>
        
        <div class="interactive-container">
          <div class="sidebar" data-index="0">
            <h3 class="place">Erbil, Iraq</h3>
            <div class="next-location">
              Erbil is Iraqi Kurdistan's capital. Iraq and Afghanistan are among the top source countries for asylum seekers in British Columbia, according to aid organizations who work in B.C. Others include Honduras, Colombia, Guatemala, Burundi and Nigeria.
            </div>

            <div class="buttons">
              <button class="back">BACK</button>
              <button class="next">NEXT</button>
            </div>
          </div>

          <div class="map-container">
            <leaflet-map >
              <tile-layer layer="cartoPositron"></tile-layer>
              <map-options>
                {
                  "scrollWheelZoom": false
                }
              </map-options>
            </leaflet-map>
          </div>
        </div>

        <div class="sources">
          Sources: <a href="https://issbc.org/welcomecentre/">Welcome Centre</a> and <a href="http://www.aci.aero/Data-Centre/Monthly-Traffic-Data/International-Passenger-Rankings/Year-to-date">Airports Council International</a>
          <div class="credit">VANESSA MARTINEZ / THE SEATTLE TIMES</div>
        </div>

      </main>
    </responsive-child>

    <script>
      window.markers = <%= JSON.stringify(csv.markers) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
